{% extends 'layout.html' %} {% block body %}
<div class="container">
        <form class="form-horizontal" action="" method="POST">
            <div class="form-group">
                <input id="input_form" class="form-control" type="text" min="3" max="60" name="user_review" placeholder="Your Feedback" required>
                <br>
                <button id="button_form" type="submit" class="btn btn-success btn-lg">Submit</button>
            </div>
            <footer id="footer_note"class="text-justify">&copy;2018 TryGuys</footer>
        </form>
</div>
{% endblock %}